/* code css   */

pre
{
  font-weight: normal;
  color: black;
  font-family: "Courier New, Courier, monospace";
  font-size: 12px;
 /* line-height: 16px; */
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 7px;
  margin-bottom: 7px;
  break-after:auto;
}


code
{
  font-family: "Courier New, Courier, monospace";
  font-size: 12px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 7px;
  margin-bottom: 7px;
}


.noscroll
{
  width:575px;
  border:1px solid #f2f2f2;
  background-color:#F3F6F8;
  padding: 4px;
}

.scroll
{
  width:575px;
  border:1px solid #f2f2f2;
  background-color:#F3F6F8;
  padding: 4px;
  overflow: clip;
  overflow-x: scroll;
}


.ds_list {
                margin-top: 0em;
                margin-right: 0em;
                margin-bottom: 1.2em;
                margin-left: 0em;
}


.roundednotebox_grey {
text-align: left;
width: 85%;
border: 2px solid #EBEAE1;  
padding-top: 10px;
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
background-color: #F5F4EA7;
margin-left: auto; /*need this for centering divs in Firefox*/
margin-right: auto; /*need this for centering divs in Firefox*/
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}


.roundednotebox_grey {
background-color: #F5F4EA;
}